
out/TicketNFT.sol/TicketNFT.json
out/TicketVerifier.sol/TicketVerifier.json
broadcast/Deploy.s.sol/31337/run-latest.json
cache/solidity-files-cache.json
out/
cache/
broadcast/
lib/
gas-snapshot.txt

# Environment & Credentials

.env
.env.*
!.env.example
node_modules/
__pycache__/
*.pyc
getPubKey.js
.json

#  IDE / System Files

.vscode/
.idea/
.DS_Store
Thumbs.db
*.log


# Test artifacts

*.json
*.bin
*.abi


